.header {

    text-align: center;
    color: black;
    font-family:Georgia;
}

.navbar{

    text-align: center;

    list-style-type: none;

    background-color: rgb(25, 143, 211);

    overflow: hidden;

    border-radius: 12px;

    height: 25px;


}

.navbar a{

    text-decoration: none;

    display: block;

    color: white;

    border: none;

    
    

}

.navbar li{

    float:left ;

    padding-right: 10px;

    
}