h1 {

    text-align: center;
    color: black;
}

.navbar ul{
    
list-style-type: none;

overflow: hidden;

}

.navbar a{

    display: block;

    text-align: center;

    text-decoration: none;

    color: white;



}

.navbar li{

    float: left;

    padding: 90px;

    background-color: black;

    



}