@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* Navbar Stuff */

.navbar_cnt{

display: flex;

align-items: center;

justify-content: space-between;
}

.nav_items li{

    display: inline-flex;

    text-decoration: none;

}

.logo_cnt{

    color: black;

    font-family: "Bebas Neue";

    font-weight: bold;

    font-size: 25px;    
}

.home_btn{

    border: none;

    border-radius: 50px;

    background-color: rgba(0,0,0,0);

    padding: 5px 10px;

    color: black;

    font-family: "Bebas Neue";

    font-weight: bold;

    font-size: 25px;
}

.home_btn:hover{

    background-color: rgba(114, 111, 111, 0.5);

    cursor: pointer;

    transition: 0.125s;
}

.portfolio_btn{

    border: none;

    border-radius: 50px;

    background-color: rgba(0,0,0,0);

    color: black;

    padding: 5px 10px;

    font-family: "Bebas Neue";

    font-weight: bold;

    font-size: 25px;

}

.portfolio_btn:hover{

    background-color: rgba(114, 111, 111, 0.5);

    cursor: pointer;

    transition: 0.125s;
}

.resume_btn{

    border: none;

    background-color: rgba(0,0,0,0);

    padding: 5px 10px;

    border-radius: 50px;

    color: black;

    font-family: "Bebas Neue";

    font-weight: bold;

    font-size: 25px;

}

.resume_btn:hover{

    background-color: rgba(114, 111, 111, 0.5);

    cursor: pointer;

    transition: 0.125s;
}

.contact_btn{

    border: none;

    padding: 5px 10px;

    color: white;

    background-color: rgb(20, 139, 169);

    border-radius: 50px;

    font-family: "Bebas Neue";

    font-weight: 500;

    font-size: 25px;

    
}

.contact_btn:hover{

    background-color: rgba(114, 111, 111, 0.5);

    cursor: pointer;

    transition: 0.125s;
}

/* Picture and Links */ 

.piclinks_cont{

display: flex;

justify-content: center;

align-items: center;


}

.links_cnt{

    display: inline-block;

    text-decoration: none;

}

.links_cnt li{

    list-style-type: none;

    justify-content: space-evenly;

}

.profile_pic{

    height: 226px;

    width: 226px;

    border-radius: 200px;
}

/* Homepage Words */

.blurb_cnt{

    display: flex;

    justify-content: center;

    align-items: center;


}

.home_blurb{

    display: block;

    justify-content: center;

    align-items: center;


}

.home_text{

    font-family: Copperplate, Papyrus, fantasy;

    font-size: 20px;

    font-weight: bold;

    line-height: 2.0;

}

/* Portfolio */

.portfolio_cnt{

    display: flex;

    justify-content: center;

    align-items: center;



}

.title_portfolio{

    text-decoration: underline;
}

.content_cont{

    display: flex;

    justify-content: center;

    align-items: center;

}

.resume_cont{

    display: flex;

    justify-content: center;

    align-items: center;

}


.a{

    display: flex;

    justify-content: center;

    align-items: center;

}

.dropdown {
  float: left;
  right: 0
  
}


.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 8%;
  right: 2%;
  background-color: #f9f9f9;
  min-width: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}





